@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
  padding: 0;
  margin: 0;
}

body{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
}

::-webkit-scrollbar {
  cursor: pointer;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  cursor: pointer;
  background: #555;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #242424;
}

